body{
    background-image: linear-gradient(#45374d,#31203C,#180d1f);
}

.header{
    background-color: #e9dfcd;
    font-size: 20px;
    font-family:'Stolzl Light';
    border-radius: 6px;
    border-style: solid;
    border-color: #C4BEA3;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}

.ref-list{
    padding: 20px;
}

.content{
    display: flex
}

.content-left{
    margin: 20px;
    background-color: #e9dfcd;
    font-family:'Stolzl Light';
    font-size: 20px;
    color: #503824;
    border-style: solid;
    border-color: #C4BEA3;
    border-radius: 6px;
    padding: 15px;
    perspective:0px
}

.content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #e9dfcd;
    border-style: solid;
    border-color: #C4BEA3;
    border-radius: 6px;
}

.text-block{
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    background-color: #d9d2b8;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

.main-image{
    width: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 6px;
}

.sticker-one{
    position: absolute;
    left: 20px;
    width: 130px;
    bottom: 20px;
}

.sticker-two{
    position: absolute;
    left: 40px;
    width: 85px;
    bottom: 20px;
}

.bottom{
    margin-bottom: 30px;
}


ul, ol{
    padding: 10px;
    margin-left: 160px;
}


h1, h2, p{
    margin-left: 15px;
}


a{
    color: #180d1f;
}




/* page 2*/




.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family:'Stolzl Light';
    color: #e9dfcd;
    font-size: 10px;
    margin: 20px;
}

.main-pod-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 10px;
    background-color: #e9dfcd;
    border-radius: 6px;
    border-style: solid;
    border-color: #C4BEA3;
    width: 300px;
}

.container-2{
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #e9dfcd;
    border-radius: 6px;
    border-style: solid;
    border-color: #C4BEA3;
    width: 300px;
}

.container-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    margin-top: 30px;
    background-color: #e9dfcd;
    border-radius: 6px;
    border-style: solid;
    border-color: #C4BEA3;
    height: 100%;
}

.container-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Stolzl Light';
    color: #e9dfcd;
    font-size: 10px;
    margin: 20px;
    height: 500px;
    width: 500px;
    position: relative;
}

.block-2{
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #341d33;
    width: 200px;
    height: 200px;
    border-radius: 6px;
}

.block-3{
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-color: #221021;
}

.block-4-1{
    margin: 15px;
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 6px;
    border-color: #c54242;
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.block-4-2{
    margin: 15px;
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 6px;
    border-color: #2638a7;
    position: absolute;
    bottom: 50px;
}

.block-4-3{
    margin: 15px;
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 6px;
    border-color: #329d38;
    position: absolute;
    right: 10px;
    bottom: 100px;
}

.block{
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #462d45;
    width: 200px;
    height: 200px;
    border-radius: 6px;
}

.page-2-img{
    width: 200px;
    display: block;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.kit{
    position: fixed;   
    height: 100px;
    width: 100px;
    border-radius: 6px;
    bottom: 10px;
    right: 10px;
}