body{
    /* background-image: url(./pic/spiral.jpg); */
    background-image: linear-gradient(#45374d,#31203C,#180d1f);
    
}


.content{
    display: flex
}


.content-left{
    margin: 20px;
    background-color: #e9dfcd;
    font-family:'Stolzl Light';
    font-size: 20px;
    color: #503824;
    border-style: solid;
    border-color: #C4BEA3;
    border-radius: 6px;
    padding: 15px;
    perspective:0px
}


.content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #e9dfcd;
    border-style: solid;
    border-color: #C4BEA3;
    border-radius: 6px;
}


.text-block{
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    background-color: #d9d2b8;
    border-radius: 6px;
    padding: 10px;
}


.main-image{
    width: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 6px;
}


.sticker-one{
    position: absolute;
    left: 40px;
    width: 130px;
    bottom: 453px;
}


.sticker-two{
    position: absolute;
    left: 60px;
    width: 85px;
    bottom: 217px;
}


.bottom{
    margin-bottom: 30px;
}


ul, ol{
    padding: 10px;
    margin-left: 160px;
}


h1, h2, p{
    margin-left: 15px;
}


a{
    color: #180d1f;
}